@charset "UTF-8";

/* ==============================
 *   Base
 * ============================== */

* {
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    width: 100%;
    background-color: #ccc;
    font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Meiryo", "メイリオ", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrap {
    box-sizing: border-box;
    width: 100%;
    padding: 0 8px;
    overflow: hidden;
    zoom: 1;
}

@media screen and (min-width: 996px) {
    .wrap {
        max-width: 996px;
        margin: 0 auto;
    }
}


/* ==============================
 *   Header
 * ============================== */

.site-header {
    position: relative;
    width: 100%;
    background-color: #000;
}

.site-header h1 {
    width: 200px;
    height: 48px;
    background-image: url("../img/logo.png");
    background-size: 200px 48px;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -webkit-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

@media screen and (max-width: 768px) {
    .site-header h1 {
        width: 150px;
        height: 36px;
        background-size: 150px 36px;
    }
}

.site-header h1:hover {
    opacity: 0.6666;
}

.site-header h1 a {
    display: block;
    width: 100%;
    height: 100%;
}

.site-header h1 span {
    display: none;
}


/* ==============
 *   Global Nav
 * ============== */

.global-nav {
    margin-left: 40px;
    float: left;
}

.global-nav ul {
    overflow: hidden;
    zoom: 1;
}

.global-nav ul li {
    margin-right: 40px;
    font-size: 14px;
    line-height: 48px;
    float: left;
}

@media screen and (max-width: 768px) {
    .global-nav ul li {
        font-size: 12px;
        line-height: 36px;
    }
}

.global-nav ul li:last-of-type {
    margin-right: 0;
}

.global-nav ul li a {
    color: #fff;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -webkit-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

.global-nav ul li.nowpage a {
    cursor: default;
}

.global-nav ul li a:hover,
.global-nav ul li.nowpage a {
    color: #aaa;
}


/* =============
 *   Local Nav
 * ============= */

.local-nav-wrapper {
    width: 100%;
    padding: 0;
}

.local-nav {
    box-sizing: border-box;
    width: 100%;
    position: inherit;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0.93;
    border-bottom: solid 1px #ddd;
}

.local-nav p {
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
    float: left;
}

@media screen and (max-width: 768px) {
    .local-nav p {
        font-size: 16px;
        line-height: 36px;
    }
}

.local-nav ul {
    float: right;
}

.local-nav ul li  {
    font-size: 12px;
    line-height: 48px;
    margin-left: 24px;
    float: left;
}

@media screen and (max-width: 768px) {
    .local-nav ul li {
        font-size: 11px;
        line-height: 36px;
        margin-left: 16px;
    }
}

.local-nav ul li:first-of-type {
    margin-left: 0;
}

.local-nav a {
    color: #000;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -webkit-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

.local-nav a:hover {
    color: #999;
}


/* ==============================
 *   Footer
 * ============================== */

.site-footer {
    width: 100%;
    background-color: #333;
    color: #fff;
}

.site-footer > .wrap {
    padding-top: 32px;
    padding-bottom: 32px;
}

@media screen and (max-width: 768px) {
    .site-footer > .wrap {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.site-footer p {
    margin: 32px 0;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
}

@media screen and (max-width: 768px) {
    .site-footer p {
        margin: 24px 0;
        font-size: 12px;
        line-height: 20px;
    }

}

.site-footer p:first-of-type {
    margin-top: 0;
}

.site-footer p:last-of-type {
    margin-bottom: 0;
}

.site-footer small {
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .site-footer small {
        font-size: 10px;
    }
}


/* ==============================
 *   Main
 * ============================== */

.site-main {
    width: 100%;
    color: #fff;
}

.site-main section {
    height: 600px;
    font-size: 20px;
    line-height: 36px;
}

@media screen and (max-width: 768px) {
    .site-main section {
        height: 400px;
        font-size: 16px;
        line-height: 28px;
    }
}

.site-main section > .wrap {
    padding-top: 80px;
    padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
    .site-main section > .wrap {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.site-main section h2 {
    font-size: 36px;
    margin-bottom: 64px;
    padding-bottom: 12px;
    border-bottom: solid 1px #fff;
}

@media screen and (max-width: 768px) {
    .site-main section h2 {
        font-size: 28px;
        margin-bottom: 32px;
        padding-bottom: 6px;
    }
}

#ichigoichie_akashi {
    background-color: #fff;
    color: #111;
}

#ichigoichie_akashi h2 {
    border-color: #111;
}

#ichigoichie_drink {
    background-color: #603CBA;
}

#ichigoichie_sg {
    background-color: #BF1447;
}

#ichigoichie_kousen {
    background-color: #00ABA9;
}