@charset "UTF-8";

/* ==============================
 *   Base
 * ============================== */

* {
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    width: 100%;
    background-color: #ccc;
    font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Meiryo", "メイリオ", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrap {
    box-sizing: border-box;
    width: 100%;
    padding: 0 8px;
    overflow: hidden;
    zoom: 1;
}

@media screen and (min-width: 996px) {
    .wrap {
        max-width: 996px;
        margin: 0 auto;
    }
}


/* ==============================
 *   Header
 * ============================== */

.site-header {
    position: relative;
    width: 100%;
    background-color: #000;
}

.site-header h1 {
    width: 200px;
    height: 48px;
    background-image: url("../img/logo.png");
    background-size: 200px 48px;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -webkit-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

@media screen and (max-width: 768px) {
    .site-header h1 {
        width: 150px;
        height: 36px;
        background-size: 150px 36px;
    }
}

.site-header h1:hover {
    opacity: 0.6666;
}

.site-header h1 a {
    display: block;
    width: 100%;
    height: 100%;
}

.site-header h1 span {
    display: none;
}


/* ==============
 *   Global Nav
 * ============== */

.global-nav {
    margin-left: 40px;
    float: left;
}

.global-nav ul {
    overflow: hidden;
    zoom: 1;
}

.global-nav ul li {
    margin-right: 40px;
    font-size: 14px;
    line-height: 48px;
    float: left;
}

@media screen and (max-width: 768px) {
    .global-nav ul li {
        font-size: 12px;
        line-height: 36px;
    }
}

.global-nav ul li:last-of-type {
    margin-right: 0;
}

.global-nav ul li a {
    color: #fff;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -webkit-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

.global-nav ul li.nowpage a {
    cursor: default;
}

.global-nav ul li a:hover,
.global-nav ul li.nowpage a {
    color: #aaa;
}

/* ==============
 *   Drawer Nav
 * ============== */

#drawer_wrap #drawer_button {
    display: none;
}

@media screen and (max-width: 620px) {
    .site-header {
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 36px;
    }

    #drawer_wrap {
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;
        wider: 100%;
        height: 100%;
    }

    .site-main {
        margin-top: 36px;
    }


    /* ===== Bar ===== */

    #drawer_wrap h1 {
        position: absolute;
        z-index: 99;
        top: 0;
        left: 50%;
        margin-left: -75px;
        float: none;
    }

    #drawer_wrap #drawer_button {
        display: block;
        position:absolute;
        z-index: 99;
        top: 5px;
        left: 15px;
        width: 24px;
        height: 24px;
        border: solid 1px #fff;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        cursor: pointer;
        -moz-transition: All 0.2s ease;
        -o-transition: All 0.2s ease;
        -webkit-transition: All 0.2s ease;
        transition: All 0.2s ease;
    }

    #drawer_wrap .drawer-icon,
    #drawer_wrap .drawer-icon:before,
    #drawer_wrap .drawer-icon:after {
        display: block;
        position: absolute;
        width: 12px;
        height: 1px;
        background-color: #fff;
        content: '';
        -moz-transition: All 0.4s ease;
        -o-transition: All 0.4s ease;
        -webkit-transition: All 0.4s ease;
        transition: All 0.4s ease;
    }

    #drawer_wrap .drawer-icon {
        top: 50%;
        left: 5.5px;
    }

    #drawer_wrap .drawer-icon:before {
        top: 5px;
    }

    #drawer_wrap .drawer-icon:after {
        top: -5px;
    }

    #drawer_wrap #drawer_button:hover {
        opacity: .65;
    }

    #drawer_wrap #drawer_button.active .drawer-icon {
        background-color: #000;
    }

    #drawer_wrap #drawer_button.active .drawer-icon:before {
        -webkit-transform: translateY(-5px) rotate(-315deg);
        transform: translateY(-5px) rotate(-45deg);
    }

    #drawer_wrap #drawer_button.active .drawer-icon:after {
        -webkit-transform: translateY(5px) rotate(315deg);
        transform: translateY(5px) rotate(45deg);
    }


    /* ===== Menu ===== */

    #drawer_wrap .global-nav {
        box-sizing: border-box;
        position: absolute;
        z-index: 10;
        width: 100%;
        height: auto;
        min-height: 100%;
        top: -600px;
        left: 0;
        margin-left: 0;
        padding: 24px;
        -moz-transition: All 0.4s ease;
        -o-transition: All 0.4s ease;
        -webkit-transition: All 0.4s ease;
        transition: All 0.4s ease;
    }

    #drawer_wrap .global-nav ul li {
        margin-right: 0;
        margin-bottom: 16px;
        border-bottom: solid 1px #aaa;
        font-size: 14px;
        float: none;
    }

    #drawer_wrap .global-nav ul li:last-of-type {
        margin-bottom: 0;
    }
}


/* ==============================
 *   Main
 * ============================== */

.site-main {
    width: 100%;
    color: #fff;
}


/* ==========
 *   Header
 * ========== */

.site-main #fix_wrapper {
    width: 100%;
    padding: 0;
}

.site-main header {
    box-sizing: border-box;
    width: 100%;
    position: inherit;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0.93;
    border-bottom: solid 1px #ddd;
}

.site-main header h1 {
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
    float: left;
}

@media screen and (max-width: 768px) {
    .site-main header h1 {
        font-size: 16px;
        line-height: 36px;
    }
}

.site-main header a {
    color: #000;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -webkit-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

.site-main header a:hover {
    color: #999;
}


/* =============
 *   Local Nav
 * ============= */

.local-nav {
    float: right;
}

.local-nav ul li  {
    font-size: 12px;
    line-height: 48px;
    margin-left: 24px;
    float: left;
}

@media screen and (max-width: 768px) {
    .local-nav ul li {
        font-size: 11px;
        line-height: 36px;
        margin-left: 16px;
    }
}

.local-nav ul li:first-of-type {
    margin-left: 0;
}


/* ===========
 *   Content
 * =========== */

.site-main section {
    font-size: 20px;
    line-height: 36px;
    overflow: hidden;
    zoom: 1;
}

@media screen and (max-width: 768px) {
    .site-main section {
        font-size: 16px;
        line-height: 28px;
    }
}

.site-main section .wrap {
    padding-top: 80px;
    padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
    .site-main section .wrap {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}


/* ===== Title ===== */

.site-main section .wrap > h1 {
    font-size: 48px;
    margin-bottom: 64px;
    padding-bottom: 24px;
    border-bottom: solid 1px #fff;
}

@media screen and (max-width: 768px) {
    .site-main section .wrap > h1 {
        font-size: 28px;
        margin-bottom: 32px;
        padding-bottom: 6px;
    }
}

.site-main section section h1 {
    font-size: 40px;
    margin-bottom: 32px;
    line-height: 56px;
    font-weight: normal;
}

@media screen and (max-width: 768px) {
    .site-main section section h1 {
        font-size: 24px;
        margin-bottom: 16px;
        line-height: 32px;
    }
}


/* ===== Content Image ===== */

.site-main section .content-image {
    width: 50%;
    float: right;
}

.site-main section .content-image img {
    box-sizing: border-box;
    width: 90%;
    margin-left: 10%;
    border: solid 4px #333;
}

@media screen and (max-width: 620px) {
    .site-main section .content-image img {
        border-width: 2px;
    }
}


/* ===== Unique Content ===== */

#ichigoichie_about {
    background-color: #fff;
    color: #111;
}

#ichigoichie_about h1 {
    border-color: #111;
}

#ichigoichie_about img {
    width: 100%;
    margin-bottom: 32px;
}

#ichigoichie_akashi {
    background-color: #DA532C;
}

#ichigoichie_drink {
    background-color: #603CBA;
}

#ichigoichie_sg {
    background-color: #BF1447;
}

#ichigoichie_kousen {
    background-color: #00ABA9;
}


/* ==============================
 *   Footer
 * ============================== */

.site-footer {
    width: 100%;
    background-color: #333;
    color: #fff;
}

.site-footer > .wrap {
    padding-top: 32px;
    padding-bottom: 32px;
}

@media screen and (max-width: 768px) {
    .site-footer > .wrap {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.site-footer p {
    margin: 32px 0;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
}

@media screen and (max-width: 768px) {
    .site-footer p {
        margin: 24px 0;
        font-size: 12px;
        line-height: 20px;
    }

}

.site-footer p:first-of-type {
    margin-top: 0;
}

.site-footer p:last-of-type {
    margin-bottom: 0;
}

.site-footer small {
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .site-footer small {
        font-size: 10px;
    }
}